.background{
    width: 100%;
    height: 100vh;
    background: #bbb;

    display: flex;
    align-items: center;
    justify-content: center;
}
.vlr-app{
    position: fixed;
    
    width: 160px;
    height: 140px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.vlr-app:hover{
    background: rgba(100,150,200, .3);
    border: 2px solid #abc;

    cursor: pointer;
}
.vlr-app p{
    color: white;
    font-size: 26px;
    font-weight: 300;

    margin-top: 5px;
}
.vlr-app-icon{
    width: 80px;
    height: 80px;
}